@import "../../vars.css";

.container {
  margin-top: 76px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
  z-index: 1;
}

.horizontalContainer {
  display: flex;
  align-items: center;
}

.title {
  font-size: 65px;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  font-family: "Bevan", serif;
  font-weight: 400;
  font-style: italic;
  margin-left: 30vw;
  margin-bottom: 40px;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10%;
  width: 100%;
}

.bracketsImg {
  width: 10%;
  z-index: 1;
  transform: rotate(-0.05turn);
  margin-bottom: 50px;
}

.topBlur {
  position: absolute;
  top: 100vw;
  right: 0;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-width: 350px;
  border-radius: 764px;
  background: rgba(255, 133, 174, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  top: 120vw;
  left: 0;
  width: 30vw;
  height: 30vw;
  min-width: 350px;
  min-width: 350px;
  border-radius: 764px;
  background: rgba(252, 196, 227, 0.7);
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 830px) {
  .projects {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .title {
    font-size: 2em;
    margin-left: 0;
  }
}
