:root {
  /* Colours */
  --color-text: #363636;
  --color-text-dark: #1f1f1f;
  --color-text-light: #fff;
  --color-primary: #44102e;
  --color-secondary: #853885;
  --color-dark: #0b2447;
  --color-bg: #b67dd6;
}
